*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    background: #eeefff;
}
.senya{
    width: 180px;
    height: 180px;
    border-radius: 9px;
    box-shadow: 4px 8px 16px rgba(33, 33, 82, 0.509);
}
ul{
    margin-top: 20px;
}

.about{
    padding: 10px;
}
.info{
    display: flex;
    margin: 10px;
}
.info ul li{
    display: inline;
}
.hobby , .profession , .experience , .data{
    border: 1px solid rgb(57, 214, 9);
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    background: #8c92ee82;
}
.number{
    padding-left: 18px;
}

/* .experience{
    border: 1px solid rgb(57, 214, 9);;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    background: #8c92ee82;
} */
table{
    width: 85%;
    margin: auto;
    text-align: center;
}
ul{
    list-style: none;
}

footer{
    margin-top: 50px;
    
}
h3{
    text-align: center;
    text-decoration-line:underline;
    margin-bottom: 15px;
}
.data{
    display: flex;
}
.mail , .name {
    width: 50%;

}
.btn{
    background: rgb(102, 242, 84);
    padding: 10px 30px;
    color: #1a1c3a;;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 100;
    font-family: inherit;
    /* cursor: pointer; */
}
/* .name , .mail{
    height: 50px;
} */
 .label{
    display: block;
    /* cursor: default; */
}

.letter{
    margin-top: 8px;

}
h6{
    text-align: center;
    background: rgb(110, 110, 238);
}